{{#each appointments}}
  <tr>
    <th scope="row">{{id}}</th>
    <td>{{format_date_time appointment_date}}</td>
    <td>{{doctor_name}}</td>
    <td>{{details}}</td>
    <td>{{appointment_type}}</td>
  </tr>
{{/each}}