
  <div class="row min-vh-100 no-gutters">
    <header class="col-12 col-lg-3 bg-dark text-light sticky-top d-flex flex-column p-4 p-lg-3">
      <h1 class="text-center">
      <span class="oi oi-task d-inline d-lg-none"></span>
        Patient Dashboard
      </h1>

  
      <h1 class="text-center">
      <span class="oi oi-task d-inline d-lg-none"></span>
        Schedule Appointment Now
      </h1>

      <input type="text" id="dateTime" placeholder="Choose Date and Time" data-input>
      
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" for="dropdownIssue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Symptom
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Marriage Counselling</a>
          <a class="dropdown-item" href="#">Mental Health</a>
          <a class="dropdown-item" href="#">Drug Addiction</a>
        </div>
        </select>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" for="dropdownDoctor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Doctor
        </button>
        <select id="dropdownDoctor" >
          {{#each doctors}}
                <option>{{doctor.first_name}} {{doctor.last_name}} </option>
          {{/each}}
        </select>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" for="dropdownTypeAppointment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Type of Appointment
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Zoom Video Call</a>
          <a class="dropdown-item" href="#">Mobile Phone</a>
          <a class="dropdown-item" href="#">In-Person</a>
        </div>
      </div>

      <button id="createAppointment" class="btn btn-block btn-add"> Create Appointment</button>

    </header>


    <main class="col-12 col-lg-9 d-flex flex-column">

      <div class="m-5 row justify-content-around">

        <div class="col-12">
          <div class = "card">
            <h4 class = "card-header bg-dark text-light">
              Patient Details
            </h4>
            <ul id="list-toDo" class="list-group list-group-flush">
              {{client.first_name}}
              {{client.last_name}}
              {{client.address}}
              {{client.birth_date}}
              {{client.email}}
            </ul>
          </div>
        </div>

        <div class="col-12">
          <div class = "card">
            <h4 class = "card-header bg-dark text-light">
              Existing Appointments
            </h4>
            {{#if appointment.length}}
            <ul id="list-toDo" class="list-group list-group-flush">
               {{#each appointment}}
              <li>
                  {{appointment.date}}
                  {{appointment.details}
                  {{appointment.doctor_id}}
              </li>
              {{/each}}
            </ul>
            {{/if}}
          </div>
        </div>

      </div>
    </main>
  </div>

<script src="/javascript/add-appointment.js"></script>
<script src="/javascript/display-appointments.js"></script>
<script src="/javascript/display-patientDetails.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

</body>

</html>